#weather
    padding: 60px 0
    .box
        background-color: #27d1e0
        height: 300px
        border-radius: 15px
        h1,h2
            color: #ffff
            font-size: 20px
        // h1
        //     padding-top: 17px
        //     margin-bottom: 15px
        // h2
        //     margin-bottom: 15px
        input
            border-radius: 20px
        .btn
            background-color: #203445
            width: 160px
            border-radius: 20px
            padding: 4px
            margin-top: 5px
            color: #ffff

    @media screen and ( max-width: 900px )
        .box
            width: 220px
            position: absolute
            left: 39%
