#weather
    padding: 60px 0
    .box
        background-color: #27d1e0
        border-radius: 20px
        padding: 30px
        width: 400px
        .data
            h1,h2
                font-size: 22px
                margin: 15px
        .btn
            border-radius: 15px
            border: 1px solid 
            background-color: #1cf88a00
            h3
                font-size: 22px





    @media screen and ( max-width: 900px )
        .box
            width: 220px
            position: absolute
            left: 39%
